body {
    font-family: sans-serif;
    background-color: #e4e4e4;
}

/* -- HEADER -- */
header {
    background-color: #1c7cd5;
}

#headerTitle {
    font-size: 23px;
}

#addBtn {
    max-width: 31px;
    max-height: 31px;
}

#addBtn span {
    font-size: 2rem;
    top: -8px;
}


#progressBar p {
    min-width: 100%;
    left: 0;

    font-size: 15px;
}

/* -- POSTS -- */
#posts {
    background-color: #e4e4e4;
}

#posts article {
    font-family: sans-serif;
}

.greenBorder {
    border-left: 8px solid #5cb85c;
}

.redBorder {
    border-left: 8px solid #d9534f;
}

.cardSmiley {
    height: 47px;
    width: 47px;
}


/* --- ADD/MODAL --- */
.energiSmileyLabels {
    height: 47px;
    width: 47px;
}

.custom-radio .custom-control-input:checked~ img {
    background-color: #7e28ff;
    border-radius: 50%;
}

#descriptionInput {
    height: 230px;
}

#saveBtn {
    background-color: #1c7cd5;
}