/* TODO:
    - + Button i header - font-size. Brug evt et billede i stedet?
    - Når man åbner 'add'-siden, så skal der være et kryds til at lukke den popup, i stedet for add knappen
    - Læs op på aria-valuemin, aria-valuemax, aria-valuenow
    - Find en måde at få den rigtige size "border" når man vælger en smiley under 'add'-siden

    
    - ** 2. prioritet **
    - Card title + smiley placering
    - Brug bootstraps inputvalidering .isvalid til når jeg udfylder forms ved add?

    - ** Ekstra opgaver: ** 
    - Lav 'Rediger' knappen på alle posts. Så den åbner 'add'-modal, men med felterne udfyldt.

    - PUSH TIL GIT *********
*/

body {
    /* Er det noget med det er dårligt at sætte noget på body? */
    font-family: sans-serif;
    background-color: #e4e4e4;
}

/* -- HEADER -- */
header {
    background-color: #1c7cd5;
}

#headerTitle {
    font-size: 23px;
}

#addBtn {
    /* min-width: 31px; */
    max-width: 31px;

    /* min-height: 31px; */
    max-height: 31px;

    /* Same z-index as modal */
    z-index: 1050;

    /* ** font size bliver overskrevet af .btn class - så brug evt .btn i stedet */
    /* font-size: 2rem; */
}

#progressBar p {
    min-width: 100%;
    left: 0;

    font-size: 15px;
}


/* -- POSTS -- */
#posts {
    background-color: #e4e4e4;
}

#posts article {
    font-family: sans-serif;
}

.greenBorder {
    border-left: 8px solid #5cb85c;
}

.redBorder {
    border-left: 8px solid #d9534f;
}

.cardSmiley {
    height: 47px;
    width: 47px;
}


/* --- ADD/MODAL --- */
.energiSmileyLabels {
    height: 47px;
    width: 47px;
}

.custom-radio .custom-control-input:checked~ img {
    background-color: #7e28ff;
    border-radius: 50%;
}

#descriptionInput {
    height: 230px;
}

#saveBtn {
    background-color: #1c7cd5;
}